<ng-container *ngIf="isLoading$ | async">
  <app-loading></app-loading>
</ng-container>

<ng-container *ngIf="error$ | async">
  <app-error-message></app-error-message>
</ng-container>


<ng-container *ngIf="feed$ | async">
  <div class="article-preview" *ngFor="let article of (feed$ | async)?.articles">
    <div class="article-meta">
      <a [routerLink]="['/profiles', article.author.username]">
        <img [src]="article.author.image" />
      </a>
      <div class="info">
        <a [routerLink]="['/profiles', article.author.username]" class="author">
          {{ article.author.username }}
        </a>
        <span class="date">{{ article.createdAt }}</span>
      </div>
      <div class="pull-xs-right">
        <div>ADD TO FAVORITES </div>
      </div>
    </div>
    <a [routerLink]="['/articles', article.slug]" class="preview-link">
      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>
      <span>Read more..</span>
      HERE LIST OF TAGS
    </a>
  </div>
  <app-pagination [total]="(feed$ | async)?.articlesCount" [url]="baseUrl" [page]="page" [limit]="limit">
  </app-pagination>
</ng-container>
